{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">

    {% block head %}
    {% tailwind_css %}
    {% block title %}<title>App</title>{% endblock title %}
    {% endblock head %}
</head>

<!-- BODY -->

<body>
    <div class="wrapper">
        <div class="wrapper__nav">
            {% block nav %}
            {% endblock nav %}
        </div>
        <div class="wrapper__content">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="wrapper__footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </div>
</body>

</html>