.home-button {
    border-color: transparent;
}

.card img {
    object-fit: cover;
    object-position: center;
}

.cart-button.dropdown-open {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}